.about {
  margin-top: 27px;
  margin-bottom: 42px;
  background-color: @basic-white;
}

.about__list {
  margin-top: 35px;
}

.about__elem {
  margin-bottom: 20px;
}

.about__desc {
  padding-left: 80px;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @basic-charcoal;
}
