.example {
  padding-top: 27px;
  background-color: @neutral-background;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
    padding-top: 0;
  }
}

.example__content {
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -205px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 85px;
    margin-bottom: -205px;
  }
}

.example__content-info {
  position: relative;
  z-index: 2;

  @media (min-width: @desktop-width) {
    width: 436px;
    padding-bottom: 75px;
  }
}

.example__desc {
  margin: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @basic-charcoal;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__content-result {
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 69px;
  }
}

.example__list {
  .reset-list();
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.example__item {
  position: relative;
  width: 124px;
  padding: 15px 0;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: @basic-black;
  border: 1px solid @basic-gray;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;

    &:last-child {
      margin-left: 42px;
    }
  }
}

.example__item-desc {
  display: inline-block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 87px;
  padding: 0 10px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: @basic-charcoal;
  background-color: @neutral-background;

  @media (min-width: @tablet-width) {
    width: 147px;
    bottom: -9px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-extra-light;
  }
}

.example__cost {
  margin: 0;
  margin-top: 34px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 174px;
    margin-top: 12px;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    span {
      display: block;
      margin-top: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-top: 55px;
    text-align-last: left;

    span {
      display: inline-block;
      margin-left: 63px;
    }
  }
}

.example__slider {
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;
    margin-top: 65px;
    padding-top: 194px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    margin-top: 0;
  }
}

.example__slider-content {
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @basic-extra-light;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100%;
      background-color: @basic-extra-light;
    }

    &::after {
      left: 354px;
      background-color: @neutral-background;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      left: 395px;
    }
  }
}

.example__slider-list {
  .reset-list();
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  line-height: 0;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -200px;
    margin-bottom: -200px;
    padding-bottom: 0;
  }
}

.example__slider-item {
  &:last-child {
    display: none;
  }
}

.example__slider-pic {
  object-fit: cover;

  &--fat {
    width: 311px;
    height: 232px;
  }

  &--slim {
    width: 251px;
    height: 240px;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    height: 536px;
    object-fit: contain;
  }
}

.example__slider-control {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
  }
}

.example__slider-button {
  width: auto;
  height: 32px;
  padding: 0;
  margin: 0 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted @basic-gray;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom-style: solid;
  }

  &:active {
    border-bottom-color: transparent;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 15px;
  }
}

.example__slider-line {
  position: relative;
  width: 84px;
  height: 14px;
  margin: 0 5px;
  padding: 4px 6px;
  background-color: @basic-white;
  border-radius: 6px;
  border: 1px solid @basic-gray;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    margin: 0 14px;
    padding: 0;
    background-color: @basic-gray;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.example__slider-progress {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 6px;
  background-color: @basic-light-green;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__slider-toogle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 34px;
  height: 34px;
  padding: 0;
  border: 13px solid @basic-white;
  border-radius: 50%;
  background-color: @basic-light-green;
  outline: none;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  cursor: pointer;

  &:hover,
  &:focus {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:active {
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));

    &::after {
      border-color: @basic-light-green;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border: 1px solid @basic-gray;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}
