.footer {
  padding: 0 0 22px 0;
  background-color: @basic-extra-light;


  @media (min-width: @tablet-width) {
    padding: 55px 0 61px 0;
  }
}

.footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  padding-top: 39px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
