.header {
  position: relative;

  @media (min-width: @desktop-width) {
    padding-top: 53px;

    &--background::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50vw;
      height: 696px;
      background: #65a93c url("../img/index-background-desktop@1x.jpg") no-repeat right top;
      background-size: contain;
    }
  }

  @media (min-resolution: 2dppx) {
    &::after {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 12px 20px 0;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    line-height: 0;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;
  }
}

.header__logo {
  display: block;
  width: 100%;
  padding-bottom: 7px;

  &[href] {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }


  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0;
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.header__logo-icon {
  width: 191px;
  height: 37px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}
