.main-navigation__list {
  .reset-list();
}

.main-navigation__link {
  display: block;
  padding: 22px 0 24px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid @neutral-gray;
  color: @basic-black;
}
