.other-product__title {
  margin: 0;
  padding-top: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.other-product__list {
  margin-top: 35px;
  .reset-list();
}

.other-product__item {
  padding: 13px 0 19px 0;
  border-top: 1px solid @basic-gray;
  border-bottom: 1px solid @basic-gray;
}

.other-product__table {
  margin-top: 13px;
}

.other-product__name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-nero;
}

.other-product__data {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @basic-charcoal;
}

.other-product__button {
  margin-top: 15px;
}

.other-product__present {
  margin-top: 39px;
  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-size: cover;
}

.other-product__present-text {
  width: 162px;
  margin: 0 auto;
  padding: 186px 0 43px 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
}
