.product {
  .reset-list();
}

.product__item {
  padding: 11px 0 33px 0;
  border-top: 1px solid @basic-light;
  border-bottom: 1px solid @basic-light;
}

.product__link-name {
  display: block;
}

.product__name {
  width: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-nero;
}

.product__data-info {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @basic-charcoal;
}

.product__button {
  margin-top: 13px;
  padding: 20px 0;
  font-size: 16px;
  line-height: 0;
  text-align: center;
}

.catalog__still-title {
  margin-top: 26px;
  padding-top: 53px;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
}

.catalog__still-desc {
  margin-top: 8px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @basic-charcoal;
}

.catalog__button {
  margin-top: 21px;
  padding: 20px 0;
  font-size: 16px;
  line-height: 0;
  color: @basic-charcoal;
  background-color: @basic-extra-light;
}
