.profile__title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.profile__desc {
  width: 226px;
  margin: 0;
  margin-top: 37px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__form {
  margin-top: 39px;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-program--radio {
  margin-top: 24px;
  padding-top: 20px;
  padding-bottom: 22px;
}

.fieldset-client--contact {
  margin-top: 26px;
}

.fieldset-client--comment,
.fieldset-client--option {
  margin-top: 27px;
}

.profile__fieldset-caption {
  font-size: 24px;
  line-height: 26px;

  &--contact {
    width: 187px;
    margin-bottom: 32px;
  }

  &--comment {
    width: 121px;
    margin-bottom: 34px;
  }

  &--option {
    width: 141px;
    margin-bottom: 34px;
  }
}

.fieldset-client__label,
.fieldset-client__input,
.fieldset-program__label {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: @basic-charcoal;
  text-transform: uppercase;
}

.fieldset-client__label,
.fieldset-program__label {
  display: block;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-program__label {
  color: @basic-nero;
}

.profile__form-button {
  width: 100%;
  margin-top: 34px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
}

.profile__footnote {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
