.profile__title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.profile__desc {
  width: 226px;
  margin: 0;
  margin-top: 37px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 325px;
    margin-top: 54px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.profile__form {
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    padding: 0 35px 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.profile__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-client--user-data {
  @media (min-width: @desktop-width) {
    flex-basis: 569px;
  }
}

.fieldset-program--radio {
  margin: 24px -20px 0 -20px;
  padding: 20px 20px 22px;
  border: 1px solid @neutral-light-gray;

  @media (min-width: @tablet-width) {
    margin: 72px 0 0 0;
    padding: 25px 0 25px 28px;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 569px;
    margin: 0;
  }
}

.fieldset-program__label--radio {
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.fieldset-client--contact {
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 71px;
  }
}

.fieldset-client__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;

    .fieldset-client__label {
      margin-bottom: 0;
    }
  }
}

.fieldset-client--comment,
.fieldset-program--option {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }
}

.profile__fieldset-caption {
  font-size: 24px;
  line-height: 26px;

  &--contact {
    width: 187px;
    margin-bottom: 32px;
  }

  &--comment {
    width: 121px;
    margin-bottom: 34px;
  }

  &--option {
    width: 141px;
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &--contact {
      width: 516px;
      margin-bottom: 76px;
    }

    &--comment {
      width: 182px;
      margin-bottom: 76px;
    }

    &--option {
      width: 211px;
      margin-bottom: 57px;
    }
  }
}

.fieldset-client__label,
.fieldset-client__input,
.fieldset-program__label {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: @basic-charcoal;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset-client__input {
  flex-grow: 1;
  margin-left: 14px;
}

.fieldset-client__label,
.fieldset-program__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-client__label {
  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.fieldset-client__input--textarea {
  width: 100%;
  margin-left: 0;
  padding: 13px 12px 0 35px;

  resize: none;
}

.fieldset-program__label {
  color: @basic-nero;
}

.fieldset-program__label--checkbox {
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 221px;
    margin-right: 123px;
    margin-bottom: 32px;
    padding-left: 59px;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 104px;

    &:nth-of-type(even) {
      margin-right: 104px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.profile__form-order {
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.profile__form-button {
  width: 100%;
  font-family: inherit;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 17px 65px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 205px;
  }
}

.profile__footnote {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-left: 61px;
    font-size: 16px;
  }
}
