.program {
  margin-top: 22px;
}

.program__list {
  .reset-list();
}

.program__item {
  padding: 21px 20px 18px 22px;
  color: @basic-black;
  background-color: @basic-extra-light;
}

.program__caption {
  position: relative;
  padding-left: 91px;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
}

.program__text {
  font-family: "Arial", "Tahoma", sans-serif;
  margin-top: 22px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  color: @basic-charcoal;
  border-bottom: 1px solid @neutral-light-gray;
}

.program__link {
  display: block;
  margin-top: 15px;
  padding-right: 43px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
}
